<html>
<head>
  <title id="t"></title>
  <meta name="viewport" id="v" content="width=device-width, user-scalable=1">
  <style>
    *{margin:0;padding:0}
  </style> 
</head>
<body>
<script src="/faye.js"></script>
<script>
  var v = document.getElementById("v");

  var iframe = {
    build: function() {
      var iframe = document.createElement('iframe');
      iframe.setAttribute('style', 'width:320px;border:0');
      document.body.appendChild(iframe);
      this.i = iframe;
    },

    update: function(address) {
      this.i.setAttribute('src', address);
    }
  };

  var frameset = {
    build: function() {
      // Frameset
      var fs = document.createElement('frameset');
      fs.setAttribute('rows', '20,*');
      fs.setAttribute('frameborder', '0');
      document.body.appendChild(fs);

      // Helper
      var helper = document.createElement('frame');
      helper.src = '/helper.html';
      fs.appendChild(helper);
      this.h = helper;
      
      // Frame
      var frame = document.createElement('frame');
      fs.appendChild(frame);
      frame.onload = function() { v.content = "" };

      this.f = frame;
    },

    update: function(address) {
      this.f.setAttribute('src', address);
    }
  };

  function detectMethod() {
    return frameset;
  }


  var method = detectMethod();
  var currentPage = "<%= URI.encode(CurrentURL["address"]) %>";
  var currentWindow;
  method.build();
  method.update(currentPage);

  Faye.WebSocketTransport.isUsable = function() { return false }
  client = new Faye.Client('/faye', { timeout: 30 });
  client.subscribe('/url', function(msg) {
    if (currentWindow) {
      currentWindow.close()
      currentWindow = null;
    }

    currentPage = msg.address;
    method.update(msg.address);
  });

  window.openPage = function() {
    currentWindow = window.open(currentPage);
  }

  client.subscribe('/js', function(msg) {
    eval(msg.script);
  });
</script>
</body>
</html>
