<style>*{margin:0;padding:0}</style> 
<body>
<script src="/faye.js"></script>
<script>
  var iframe = {
    build: function() {
      var iframe = document.createElement('iframe');
      iframe.setAttribute('style', 'width:100%;border:0');
      document.body.appendChild(iframe);
      this.i = iframe;
    },

    update: function(address) {
      this.i.setAttribute('src', address);
    }
  };

  var frameset = {
    build: function() {
      var frame = document.createElement('frame');
      var fs = document.createElement('frameset');
      fs.setAttribute('frameborder', '0');
      fs.appendChild(frame);
      document.body.appendChild(fs);
      this.f = frame;
    },

    update: function(address) {
      this.f.setAttribute('src', address);
    }
  };

  function detectMethod() {
    if (navigator.userAgent.match('Android')) {
      return iframe;
    } else {
      return frameset;
    }
  }

  var method = detectMethod();
  method.build();
  method.update("<%= URI.encode(CurrentURL["address"]) %>");

  Faye.WebSocketTransport.isUsable = function() { return false }
  client = new Faye.Client('/faye', { timeout: 30 });
  client.subscribe('/url', function(msg) {
    method.update(msg.address);
  });
</script>
</body>
